.blink {
  animation: blink-animation 1.5s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.bon-container {
  position: relative;
  min-height: 100%;
}

.zoom-controls {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10;
  padding: 5px;
  opacity: 1.0;
}

.zoom-btn {
  font-size: 25px;
  cursor: pointer;
  opacity: 0.3;
}

.zoom-btn:hover {
  font-size: 40px;
  opacity: 1;
}