.week-row>.day {
    border: 0.5px solid black;
    background-color: rgb(227, 232, 219);
    margin-left: 0;
    min-width: 14%;
    text-align: right;
    padding-right: 3px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}


/* For devices larger than 400px */
/* the columns need not to be on the same height when there is only one column*/
@media (min-width: 400px) {
    .week-row {
        display: flex;
    }

}

/* hide weekdays headers when days is in one column*/
@media (max-width: 400px) {
    .week-header {
        display: none;
    }
}

.day-headers {
    text-align: center;
}


.week-row>.week-nr {
    font-weight: bold;
    white-space: nowrap;
    height: auto;
    min-height: 100% !important;
    min-width: 40px;

}

.circle-to-day {
    border-radius: 50%;
    padding: 1px;
    border: 2px solid red;
    color: #000;
    text-align: center;
}

.not-current-month {
    color: #ddddff;
    font-style: italic;
}

.event-list {
    margin-top: auto;
}

.event {
    border: 0.5px solid black;
    padding: 3px;
    border-radius: 6px;
    height: 16px;
    font-size: small;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}